body {
  background-color: #2c2624;
}

#circle {
  background: url('/images/circle_blank.png') no-repeat;
  height: 379px;
  position: absolute;
  right: 20px;
  top: 200px;
  width: 379px;
  display: none;
}

#mc_embed_signup {
  text-align: center;
}

#mce-EMAIL {
  margin-top: 160px;
}

#mc-embedded-subscribe {
  background-color: #000;
  border: 0;
  border-radius: 3px;
  color: #fff;
}

.brand {
  /*margin-left: 10px;*/
}

.container {
  position: relative;
}

.navbar-inner {
  background: #00c78b;
  border: 0;
}

.navbar .nav {
  float: right;
  margin-top: 20px;
}

.navbar .nav a {
  text-decoration: none;
}

.link {
  color: #fff;
  margin-right: 20px;
  text-shadow: none;
}
.link:hover {
  color: #fff;
  text-shadow: none;
}

.link-social {
  margin-right: 10px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

p.small-width {
  margin: 10px auto;
  text-align: center;
  width: 660px;
}

section {
  display: block;
  height: 800px;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

section .background {
  height: 800px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.content-slide {
  background-color: #fff;
  height: 500px;
  /*left: 0;
  position: absolute;
  top: 0;*/
  text-align: left;
  width: 100%;
}

#home{
  height: 100%;
  width: 100%;
}

#home-circle{
  margin-top: 110px;
  text-align: center;
}

.image-slide{
  height: 800px;
  width: 100%;
}

h1{
  color: #00c78b;
  margin-bottom: 30px;
}

#stp-jtm-btn{
  display: block;
  margin: 0 auto;
  height:66px;
  width: 282px;
  background-color: #00c78b;
  color: #FFFFFF;
}

a .stp-btn{
  text-decoration: none;
}

a.stp-btn:hover{
    background-color: #02a675;
    text-decoration: none;
    color: #FFFFFF;
}

a .stp-btn:active{
    background-color: #02a675;
    text-decoration: none;
}

#join {
  display: block;
  height: 372px;
  margin-top: 60px;
}

.join-button{
  background-color:;
}

#slide1 {
  margin-bottom: 60px;
}

#slide1 .background {
  background: url(../images/home.png) 50% 0 ;
}

#slide1-content{
  width: 100%;
  height: 260px;
  color: #fff;
  text-align: center;
  background-color:rgba(0,0,0,0.5);
  margin-top: 50px;
}

.next-slide {
  width: 48px;
  position: absolute;
  bottom: -10px;
  left: 708px;
  z-index: 10;
}

.next-slide.green {
  bottom: -5px;
}

#slide3 .background {
  background: url(../images/1.png) 50% 0 ; 
}

#slide4 h1 {
  margin-top: 170px;
}

#slide5 .background {
  background: url(../images/2.png) 50% 0 ; 
}

#slide6 h1 {
  margin-top: 135px;
}

#slide7 .background {
  background: url(../images/3.png) 50% 0 ; 
}

#slide8 h1 {
  margin-top: 80px;
}

#slide9 .background {
  background: url(../images/4.png) 50% 0 ; 
}

#slide10 h1 {
  margin-top: 110px;
}

#slide11 {
  position: relative;
  text-align: center;
}

#slide11 iframe {
  display: inline-block;
  margin-top: -100px;
}

#slide11 .background {
  background: url(../images/5.png) 50% 0 ; 
}

#slide12 h1 {
  margin-top: 160px;
}

#slide13 .background {
  background: url(../images/6.png) 50% 0 ; 
}

#slide14 .container {
  position: relative;
  text-align: center;
}

#slide14 h1 {
  position: absolute;
  top: 160px;
  width: 1170px;
  z-index: 2;
}

#buy-container {
  display: inline-block;
  margin-top: 240px;
}

#buy-a-shirt {
  display: inline-block;
}

#shirt-left {
  left: 0;
  position: absolute;
  top: 0;
}

#shirt-right {
  right: 0;
  position: absolute;
  top: 0;
}

#slide15 .background {
  background: url(../images/7.png) 50% 0 ; 
}

#slide16 .container {
  text-align: center;
}

#slide16 h1 {
  margin-top: 60px;
}

#slide16 a {
  display: inline-block;
  height: 120px;
  margin-right: 80px;
  width: 120px;
}

#slide16 a.no-m-r {
  margin-right: 0;
}

#partner1 {
  background: url('../images/STP_partner1.png') no-repeat;
}

#partner1:hover {
  background: url('../images/STP_partner1_hover.png.png') no-repeat;
}

#partner2 {
  background: url('../images/STP_partner2.png') no-repeat;
}

#partner2:hover {
  background: url('../images/STP_partner2_hover.png.png') no-repeat;
}

#partner3 {
  background: url('../images/STP_partner3.png') no-repeat;
}

#partner3:hover {
  background: url('../images/STP_partner3_hover.png.png') no-repeat;
}

#partner4 {
  background: url('../images/STP_partner4.png') no-repeat;
}

/*#partner4:hover {
  background: url('../images/STP_partner4_hover.png.png') no-repeat;
}*/

#partner5 {
  background: url('../images/STP_partner5.png') no-repeat;
}

#partner5:hover {
  background: url('../images/STP_partner5_hover.png.png') no-repeat;
}

#partner6 {
  background: url('../images/STP_partner6.png') no-repeat;
}

#partner6:hover {
  background: url('../images/STP_partner6_hover.png.png') no-repeat;
}

#partner7 {
  background: url('../images/STP_partner7.png') no-repeat;
}

#partner7:hover {
  background: url('../images/STP_partner7_hover.png.png') no-repeat;
}

#partner8 {
  background: url('../images/STP_partner8.png') no-repeat;
}

#partner8:hover {
  background: url('../images/STP_partner8_hover.png.png') no-repeat;
}

/* Non-essential demo stuff */
.hero-unit {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.media-object { width: 64px; height: 64px; padding-bottom: 30px }

p.bold{
  font-weight: bold;
}

.center { float: none; margin-left: auto; margin-right: auto; }

#home-text {
  margin:0 auto;
  float:none;
}

footer {
  background-color: #00c78b;
  color: #fff;
  height: 100px;
  line-height: 100px;
}

@media screen and (max-width: 599px) {
  body {
    padding: 0;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  footer .container {
    margin-left: 6px;
  }

  .row-fluid {
    margin-left: 6px;
  }

  .navbar .brand {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .navbar .nav {
    float: right;
    margin-top: 20px;
    margin-left: 46px;
  }

  p.small-width {
    margin: 10px 0;
    text-align: left;
    width: 320px;
  }

  #slide4 h1 {
    margin-top: 80px;
  }

  #slide6 h1 {
    margin-top: 40px;
  }

  #slide8 h1 {
    margin-top: 4px;
  }

  #slide10 h1 {
    margin-top: 20px;
  }

  #slide12 h1 {
    margin-top: 60px;
  }

  #buy-a-shirt {
    position: absolute;
    top: 380px;
    left: 20px;
    z-index: 3;
  }

  #slide16 {
    height: 560px;
  }

  #slide16 h1 {
    margin-top: 4px;
    font-size: 24px;
  }

  #slide16 a {
    display: inline-block;
    height: 112px;
    margin-right: 20px;
    width: 112px;
  }

  .second {
    margin-right: 0;
  }

  iframe {
    max-width: 100%;
  }
}